h1 {
    color:darkblue; font-size: 62px;font-style: italic;font-family:'Times New Roman', Times, serif;text-align: center;
}
h2 {
    color:deepskyblue; font-size: 36px;
}
h5 {
    color:lime; font-size: 36px;
}
label{
    color:gold;font-size:large;font-weight: bold;
}
a {
    color: deeppink;align-items: center;
}
body {
    background-repeat:no-repeat;
    background-attachment:fixed;
}
button{
    color: forestgreen;border-radius: 10%;align-items: center;
}
h3{
    color:purple;
}